<p style='color:red'> <%= flash[:notice] %> </p>
<ul>
    <li>
      Name:- <%= @user.name %> <br>
      Email:- <%= @user.email %> <br>

      <%= link_to "edit", edit_user_path(@user) %><br>
      <%= button_to "destroy",@user ,method: :delete  %>
    </li>
</ul>
