<%= button_to "Your Sell Products", "/sell_products", method: :get %><br>
 <%= button_to " Buy Products", "/buy_products", method: :get %><br>
  <%= button_to "Sign_out", users_path, method: :delete %> <br>
<h1>Products</h1>
  <%= form_with url: "/products", method: :get do |form| %>
  <%= form.label :name, "Search Products:" %>
  <%= form.text_field :name %>
  <%= form.submit "Search" %>
<% end %>
<ul>
  <% if @products.present? %>
    <% @products.each do |product| %>
      <li>
          Name:<%= product.name %><br>
          Price:<%= product.price  %><br>
          Image:  <%= image_tag product.image, height: 100 %> <br>
          Description:<%= product.description %><br>
          Product_id:<%= product.alphanumeric_id %><br>
          <%= button_to "Buy", buy_product_path(product.id), method: :get %>
        </li>
    <% end %>
  <% else %>
    <%     flash[:message] = "No Product Available For Sell " %>
    <p style='color:red'> <%= flash[:message] %> </p>
  <%end%>
</ul>
  <%= button_to "+ Sell", new_sell_product_path, method: :get %><br>
