<h1>Edit Your Product</h1>
<%= form_with model: @product, url: '/sell_products', method: :post do |form| %>
  <%= form.label :Select_category %><br>
  <%= form.collection_select :category_id, Category.order(:category_name), :id, :category_name %> <br>
  <%= form.label :Name %><br>
  <%= form.text_field :name %> <br>
  <%= form.label :Price %> <br>
  <%= form.number_field :price %> <br>
  <%= form.label :description %> <br>
  <%= form.text_area :description %> <br>
  <%= form.label :image %> <br>
  <%= form.file_field :image %> <br>
  <%= form.submit "Add" %>
<% end %>
