<ul>
  <% if @products.present? %>
    <% @products.each do |product| %>
      <li>
          Name:<%= product.name %><br>
          Price:<%= product.price  %><br>
          Image:  <%= image_tag product.image, height: 100 %> <br>
          Description:<%= product.description %><br>
          Product_id:<%= product.alphanumeric_id %><br>
          <% unless  @current_user.id == product.user_id %>
            <%= button_to "Buy", buy_buy_product_path(product.id), method: :get %>
          <% end %>
        </li>
    <% end %>
  <% else %>
    <%     flash[:message] = "No Product Available For Sell " %>
    <p style='color:red'> <%= flash[:message] %> </p>
  <%end%>
</ul>
